:root {
  --primary-color: #6a0572;
  --secondary-color: #a32cc4;
  --accent-color: #82b440;
  --highlight-color: #ffc300;
  --background-color: #ffffff;
  --secondary-text-color: #e0e0e0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: Arial, sans-serif;
}
